<div class="dashboard">
  <div class="row">
    <div class="dashboard-header">
      <img src="assets/logo_d.png" class="custom-logo" />
      <p>Dashboard</p>
      <div class="dashboard-icons">
        <div class="dropdown">
          <i
            class="fas fa-user-circle"
            title="Profilo"
            (click)="toggleDropdown('profileMenu')"
          ></i>
          <div id="profileMenu" class="dropdown-menu">
            <a href="/profile">Show profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <!-- Icona profilo -->
        <div class="dropdown">
          <i
            class="fas fa-cog"
            title="Impostazioni"
            (click)="toggleDropdown('settingsMenu')"
          ></i>
          <div id="settingsMenu" class="dropdown-menu">
            <a href="/settings">Settings</a>
            <a href="/help">User guide</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-section">
    <div class="date-input">
      <label for="startDate">Start date</label>
      <input
        #startDate
        type="datetime-local"
        id="startDate"
        class="input-date"
        (change)="changeDateRange(startDate, endDate)"
      />
    </div>
    <div class="date-input">
      <label for="endDate">End date</label>
      <input
        #endDate
        type="datetime-local"
        id="endDate"
        class="input-date"
        (change)="changeDateRange(startDate, endDate)"
      />
    </div>
  </div>
  @if(data$ | async; as data) {
  <!-- <pre> {{ data$ | async | json }} </pre> -->
  <div class="row charts-recap-section">
    <div class="stat-box">
      <h3>Total Call</h3>
      <p>{{ totale }}</p>
    </div>
    <div class="stat-box">
      <h3>Total Errors</h3>
      <p>{{ data.totalErrors }}</p>
    </div>
    <div class="stat-box">
      <h3>Average response time</h3>
      <p>{{ data.averageResponseTime }}</p>
    </div>
  </div>

  <div class="row charts-recap-section">
    <div class="chart">
      <canvas
        baseChart
        [data]="timeDistributionChartData(data.timeDistribution)"
        [type]="'line'"
      >
      </canvas>
      <p>Timeline Call</p>
    </div>
  </div>
  <div class="row charts-recap-section">
    <div class="chart">
      <canvas
        baseChart
        [data]="pieDistributionChartData(data.totalErrors, data.totalRequests)"
        [type]="'pie'"
      >
      </canvas>
      <p>Percentual Errors</p>
    </div>
    <div class="chart">
      <div style="text-align: center">
        <h2>Key distribution</h2>
        <canvas
          baseChart
          [data]="keyDistributionChartData(data.ketyDistribution)"
          [type]="'bar'"
        >
        </canvas>
      </div>
      <p>Value Distribution</p>
    </div>
  </div>
  <div class="row log-section">
    <h3>Log</h3>
    <div class="logs-container">
      @for (item of data.logs; track $index) {
      <div class="log-row">
        <div class="log-left">
          {{ item.payload }}
        </div>
        <div class="log-right">
          {{ item.creation_datetime | date : "dd/MM/yyyy HH:mm" }}
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
