<div class="dashboard">
  <!-- Prima RIGA: Form -->
  <div class="row">
    <p>Dashboard</p>
  </div>
  <div class="row form-section">
    <label for="startDate">Data Inizio</label>
    <input
      #startDate
      type="datetime-local"
      id="startDate"
      (change)="changeDateRange(startDate, endDate)"
    />
    <label for="endDate">Data Fine</label>
    <input
      #endDate
      type="datetime-local"
      id="endDate"
      (change)="changeDateRange(startDate, endDate)"
    />
  </div>
  @if(data$ | async; as data) {
  <!-- <div>{{ data | json }}</div> -->
  <!-- Seconda RIGA: Grafici e recap -->
  <div class="row charts-recap-section">
    <div class="stat-box">
      <h3>Chiamate Totali</h3>
      <p>{{ data.totalRequests }}</p>
    </div>
    <div class="stat-box">
      <h3>Errori Totali</h3>
      <p>{{ data.totalErrors }}</p>
    </div>
    <div class="stat-box">
      <h3>Tempo Risposta Medio</h3>
      <p>{{ data.averageResponseTime }}</p>
    </div>
  </div>
  <div class="row charts-recap-section">
    <div class="chart">
      <canvas id="myLineChart" width="400" height="200"></canvas>
      <p>Chiamate nel tempo</p>
    </div>
    <div class="chart">
      <canvas id="myPieChart" width="400" height="400"></canvas>rtOptions"

      <p>Percentuale Errori</p>
    </div>
    <div class="chart">
      <div style="text-align: center">
        <h2>Distribuzione delle chiavi</h2>

        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
      <p>Distribuzione Valori</p>
    </div>
  </div>
  <div class="row log-section">
    <h3>Log</h3>
    @for (item of data.logs; track $index) {
    {{ item.payload }} {{ item.creation_datetime | date : "dd/MM/yyyy HH:mm" }}
    }
  </div>
  }
</div>
